@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav li {
    margin-right: 2rem;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #CCCCFF;
}

.general{
    display: flex;
}

.general-1{
    width: 50%;
    padding: 150px;
    background-color: #e1e2e6;
}

.general-2{
    background-image: url(/img/encontramos.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}

.general-3{
    background-image: url(/img/cafe\ en\ plato1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #ce967b;
    color: #f9fafc;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: #ebad8d;
}

@media (max-width: 990px) {
    .header-content h1 {
        font-size: 50px;
    }
    
    .header-content p {
        padding: 0 50px;
    }
    
    .coffe-content h2 {
        font-size: 40px;
        padding: 0 50px;
    }
    
    .txt-p {
        padding: 0 50px;
    }
    
    .services-content h2 {
        font-size: 40px;
    }
    
    .services-content p {
        padding: 0 50px;
    }
    
    .general-1 {
        width: 100%;
        padding: 50px 25px;
    }
    
    .general-2,
    .general-3 {
        width: 100%;
    }
    }

    @media (max-width: 865px) {
        .header-content h1 {
        font-size: 50px;
        }
        
        .header-content p {
        padding: 0 50px;
        }
        
        .coffe-content h2 {
        font-size: 40px;
        padding: 0 50px;
        }
        
        .txt-p {
        padding: 0 50px;
        }
        
        .services-content h2 {
        font-size: 40px;
        }
        
        .services-content p {
        padding: 0 50px;
        }
        
        .general-1 {
        width: 100%;
        padding: 50px 25px;
        }
        
        .general-2,
        .general-3 {
            width: 100%;
        }
        }
    
    @media (max-width: 768px) {
    .header-content h1 {
        font-size: 50px;
    }
    
    .header-content p {
        padding: 0 50px;
    }
    
    .coffe-content h2 {
        font-size: 40px;
        padding: 0 50px;
    }
    
    .txt-p {
        padding: 0 50px;
    }
    
    .services-content h2 {
        font-size: 40px;
    }
    
    .services-content p {
        padding: 0 50px;
    }
    
    .general-1 {
        width: 100%;
        padding: 50px 25px;
    }
    
    .general-2,
    .general-3 {
        width: 100%;
    }
    }
    
@media (max-width: 636px) {

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 100%;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
}


p {
    font-size: 14px;
}

.btn-1 {
    padding: 10px 20px;
    font-size: 14px;
}


.menu {
    flex-direction: column;
    }
    
    .menu.navbar ul li {
        width: 100%;
    }
    
    .menu.navbar ul li a {
        padding: 10px;
        font-size: 14px;
    }
    
    
    .services-content {
        padding: 20px;
    }
    
    .services-content h2 {
        font-size: 18px;
    }
    
    .services-content p {
        font-size: 14px;
    }
    
    
    .general-1,.general-2,.general-3 {
        width: 100%;
        padding: 20px;
        }
    }
    
    @media (max-width: 524px) {
    
    .header-content h1 {
        font-size: 30px;
    }
    
    .header-content p {
        padding: 0 20px;
    }
    
    .coffe-content h2 {
        font-size: 30px;
        padding: 0 20px;
    }
    
    .txt-p {
        padding: 0 20px;
    }
    
    .services-content h2 {
        font-size: 30px;
    }
    
    .services-content p {
        padding: 0 20px;
    }
    
    .general-1 {
        width: 100%;
        padding: 20px;
    }
    
    .general-2,
    .general-3 {
        width: 100%;
    }
    
    
    img {
        width: 100%;
        height: auto;
    }
    }
    
    
    @media (max-width: 400px) {
    
    .header-content h1 {
        font-size: 25px;
    }
    
    .menu {
        flex-direction: column;
    }
    
    .header-content p {
        padding: 0 15px;
    }
    
    .coffe-content h2 {
        font-size: 25px;
        padding: 0 15px;
    }
    
    .txt-p {
        padding: 0 15px;
    }
    
    .services-content h2 {
        font-size: 25px;
    }
    
    .services-content p {
        padding: 0 15px;
    }
    
    .general-1 {
        width: 100%;
        padding: 15px;
    }
    
    .general-2,
    .general-3 {
        width: 100%;
    }
    
    
        img {
        width: 100%;
        height: auto;
    }
    }
    
    
    @media (max-width: 300px) {
    
    .header-content h1 {
        font-size: 20px;
    }
    
    .header-content p {
        padding: 0 10px;
    }
    
    .coffe-content h2 {
        font-size: 20px;
        padding: 0 10px;
    }
    
    .txt-p {
        padding: 0 10px;
    }
    
    .services-content h2 {
        font-size: 20px;
    }
    
    .services-content p {
        padding: 0 10px;
        }
        
    .general-1 {
        width: 100%;
        padding: 10px;
    }
        
    .general-2,
    .general-3 {
        width: 100%;
    }
    
    .menu {
        flex-direction: column;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    }